* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 33%, rgba(160,109,194,1) 65%, rgba(140,101,166,1) 94%);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

header {
    padding: 30px;
    text-align: center;
    border-bottom: 2px solid #000000;
}

a {
    text-decoration: none;
    color: #ffffff;
    margin: 0px 30px 0px 30px;
}

a:hover {
    color: #000000;
    transition: 0.1s;
}