{% extends "layout.njk" %}

{% block head %}
<title>Rocketseat | Cursos</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock head %}

{% block content %}

    <div class="content">

        
        <div class="cards">
            {% for course in courses %}
            <div class="card starter" data-id="{{course.id}}">
                <span class="starter-number">{{course.number}}</span>
            
                <img src="{{course.img}}" 
                alt="{{course.alt}}">
            
                <p>
                <strong class="starter">{{course.descriptionStrong}}</strong> {{course.description}}
                </p>
            </div>
            {% endfor %}

        </div>

    </div>

    <script src="/scripts.js"></script>
{% endblock content %}