{% extends "layout.njk" %}

{% block head %}
<title>Rocketseat | Sobre</title>
{% endblock head %}

{% block content %}

  <div id="wrapper">
    <img src="assets/Screenshot_2.jpg" alt="Rocketseat">

    <h1>Rocketseat</h1>
    <p>
      Mais do que uma plataforma de educação em tecnologia, somos uma 
      comunidade incrível de programadores em busca do próximo nível!
    </p>
    
    <div id="technologies">
      <h2>Nossas principais tecnologias</h2>
      <ul>
        <li>JavaScript</li>
        <li>NodeJS</li>
        <li>ReactJS</li>
        <li>React Native</li>
      </ul>
    </div>
    
  </div>

  <footer>
    <a href="https://github.com/Rocketseat" target="_blank">Github</a>
    <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
    <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
  </footer>

{% endblock content %}