{% extends "layout.njk" %}

{% block head %}
  <title>Error 404 - Not found</title>
{% endblock head %}

{% block content %}
    <div id="not">
        <div class="not-found">
            <a href="/">
                <img src="https://skylab.rocketseat.com.br/static/media/logo.0ae02df1.svg" 
                alt="Rocketseat">
            </a>
        
            <p>
            <strong>404.</strong> <br>
            That's an error.
            </p>
            
            <span>The requested URL was not found on this server. That's all we know.</span>
        </div>
    </div>
{% endblock content %}